@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body{
    width: 100vw;
    background: rgb(75, 75, 0);
    font-family: 'Silkscreen', cursive;
}

h1{
    font-size: 4rem;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
}

label{
    margin-top: 30px;
    margin-bottom: 20px;
}

input{
    height: 30px;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-family: 'Silkscreen', cursive;
    font-size: 1rem;
}

button{
    border-style: none; 
    cursor: pointer; 
    width: 150px;
    height: 40px;
    background-color: rgb(176, 176, 176);
    font-family: 'Silkscreen', cursive;
}

.board-div-one, .board-div-two{
    display: grid;
    grid-template-columns:repeat(10, 1fr);
    grid-template-rows:repeat(10, 1fr);
    width: auto;
    height: auto;
}

.boards{
    display: flex;
    gap: 150px; 
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.cell {
    background: rgb(75, 75, 0);
    aspect-ratio:1/1;
    border: 1px solid white;
    width: 40px;
    height: 40px;
}

.boardh, .boardc{
    display: none;
    font-size: 2rem;
    background-color: black;
    color: whitesmoke;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.game-turns{
    display: none;
    border: 1px solid whitesmoke;
    width: 600px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    background: whitesmoke;
}

.msg-container{
    text-align: center;
    font-size: 1.5rem;
    color: rgb(75, 75, 0);
    padding-top: 15px;
}

.content {
    border: 1px solid white;
    background: black;
    width: 39px;
    height: 39px;
}

#item{
   display: flex; 
   cursor: move; 
}

.ships-container{
    display: flex; 
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
}

.content-container{
    display: flex; 
    justify-content: center;
    gap: 50px;
}

.drag-over {
    border: dashed 3px red;
}

.dragging{
    opacity: .5;
}